body {
  font-family: arial;
}
html {
  background-image: url(https://i.ytimg.com/vi/h-d4wXYJNCo/maxresdefault.jpg);
}
.main {
  background-image: url(https://i.ytimg.com/vi/h-d4wXYJNCo/maxresdefault.jpg);
  background-size: contain;
  color: silver;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  text-align: center;
  padding: 10px;
}

.des {
  padding: 3px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button {
  background-color: red;
  border-color: royalblue;
  border-radius: 25%;
}
.row {
  display: flex;
  width: 40%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  flex: 33.33%;
}

.column {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.button {
  border: solid white;
  color: white;
  padding: 30px 100px;
  text-align: center;
  display: block;
  font-size: 19px;
  margin: 3px 5px;
  cursor: pointer;
  background-color: #4caf50;
}
.red {
  background-color: lightblue;
  height: 50px;
  width: 200px;
  overflow-y: scroll;
}
.right {
  float: right;
  width: 150px;
  height: 900px;
  background-color: red;
  position: backwards;
  animation-name: example1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  text-align: center;
  margin-right: 100px;
}

@keyframes example1 {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.left {
  float: right;
  width: 150px;
  height: 900px;
  background-color: red;
  position: backwards;
  animation-name: example1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  text-align: center;
  margin-right: 100px;
}

@keyframes example1 {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
